@media screen and (max-width: 1024px){
    nav{
        padding: 0 !important;
        text-align: center;
      

        .navbar-nav{
           
                .nav-item{
                    margin: 14px;
                    font-size: 15px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    a{
                        color: #949494!important;
                        text-decoration: none;
                        transition: 0.2s ease;
                        -webkit-transition: 0.2s ease;
                        &:hover{
                            color: orange!important;
                            text-decoration: none;
                            border-bottom: 2px solid #9898D2;
                        }
                    }
            }
        }
    }

    nav.fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        backdrop-filter: blur(10px);
        background-color: #000000cf;
        box-shadow: 0 5px 15px #0c0c0cde;
    }

    .btns {
        background-color: #FF7143 ;
        text-decoration: none;
        padding: 10px 50px;
        outline: none !important;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        color: white !important;
        // margin-top: 30px !important;
            &:hover{
                
                background-color: #D68959 !important;
                color: #fff !important;
               
            }
    }

    .aboutInfo {
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        margin-top: 10rem;

            .side1{
                width: 24rem !important;
                margin: 60px 0;
            .title{
                width: 100%;
                font-size: 25px;
                padding: 1rem;
            }
            .description{
                width: 100%;
                margin: 0 0 22px;
                font-size: 16px;
                padding: 1rem;
            }
           
                
                
                .get{
                    text-decoration: none;
                    background-color: #5454D4;
                    margin-bottom: 30px !important;
                    margin-left: 1rem;
                    // margin-left: 0px;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

            .side2{
               img{
                width: 14rem;
                height: 14rem;
               }
            }
    }

    .aboutInfo2{
        padding: 0;
        margin-top: 9rem;
        ul{
            display: flex;
            justify-content: space-around;
            padding: 0;
            text-align: center;
          
            li{
                list-style: none;
                cursor: pointer;
                margin-top: 50px;
            }
        }
    }

    .aboutInfo-two{
        padding: 0;
        display: flex;
        justify-content: space-around;
        .site1{
            width: 22rem;
            margin: 20px 0;
             
                 .title-one{
                     width: 75%;
                     font-size: 46px;
                     margin-top: 5rem;
                     
                 }
         
     
                   .read-or-hide{
                     color: #5454D4;
                     cursor: pointer;
                     margin-top: 30px;
                     font-size: 22;
                     font-weight: bold;
                   }
     
                   .text{
                     width: 95%;
                     margin: 48px 0 60px;
                     font-size: 16px;
                     color: #696871;
                     letter-spacing: 1px;
                     line-height: 32px;
                   }
                   
                   .container{
                     padding: 0;
                   }
            }

        .site2{
           
            text-align: center;
            margin-top: 8rem;

            img{
                width: 16rem;
                height: 22rem;
            }
        }
        
    }


    .metrics{
        display: block;
        padding: 13px;
        text-align: center;
        margin-top: 8rem;
            .site-one{
                width: 100%;
                // margin: 20px 12px;
                margin-top: 6rem;
                padding: 0 3rem;
                .title-two{
                    width: 100%;
                    font-size: 42px;
                }
                .description-two{
                    width: 50%;
                    margin: 15px 3px 60px;
                    font-size: 20px;
                }
    
                .read-or-hide-one{
                    color: #5454D4;
                    cursor: pointer;
                    margin-top: 30px;
                    font-size: 22;
                    font-weight: bold;
                  }
    
                  .text-one{
                    width: 100%;
                    margin: 15px 0 60px;
                    font-size: 17px;
                    color: #696871;
                    letter-spacing: 1px;
                    line-height: 32px;
                  }
                  
                  .container{
                    padding: 0;
                  }
        } 
        
        .site2{

            img{
                width: 15rem;
                height: 20rem;
            }
        }
    
    }

    .aboutInfo-sidex{

        ul{
            display: block;
            text-align: center;
            padding: 2.5rem;
            li{
                list-style: none;
                cursor: pointer;
                padding: 15px;
                margin-top: 40px;
    
                img{
                   width: 70px;
                   height: 50px;
                   transition: .5s ease;
                }
    
                &:hover img {
                    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                    transform: translate3d(0, 0, 0);
                    backface-visibility: hidden;
                    perspective: 1000px;
                }
    
                @keyframes shake {
                    10%, 90% {
                      transform: translate3d(-1px, 0, 0);
                    }
                    
                    20%, 80% {
                      transform: translate3d(2px, 0, 0);
                    }
                  
                    30%, 50%, 70% {
                      transform: translate3d(-4px, 0, 0);
                    }
                  
                    40%, 60% {
                      transform: translate3d(4px, 0, 0);
                    }
                  }
    
                h1{
                    font-size: 24px;
                    margin-top: 2rem;
                }
    
                p{
                    font-size: 16px;
                    width: 100%;
                    margin-top: 1rem;
                    opacity: 0.6;
                    padding: 0 15rem 0 15rem;
                }
            }
        }
    }


    .futures{
        display: flex;
        padding: 32px;
        text-align: center;
            h1{
                font-size: 27px;
                width: 20rem;
            }

            div{
                margin-top: 50px;
            }

            .year{
                border: none;
                outline: none;
                padding: 9px 28px;
                font-size: 16px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                transition: .5s ease;
                text-decoration: none;
                color: #000;
                background-color: #F7F7FB;
    
                &:hover{
                    background-color: #5454D4;
                    color: #fff;
                }
            }
            .month{
                border: none;
                outline: none;
                padding: 9px 28px;
                font-size: 16px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                transition: .5s ease;
                text-decoration: none;
                color: #000;
                background-color: #F7F7FB;
    
                &:hover{
                    background-color: #5454D4;
                    color: #fff;
                }
            }
    }

    .cards{
        padding: 100px;
    
        .first{
            display: block;
            justify-content: center;
            list-style: none;
            padding: 0;
        }
        
    
         .point{
            margin: 20px;
            border: none;
            text-align: center;
            background-color: #F8F8F8;
            padding: 2rem 3rem;
            transition: .5s ease;
            border-radius: 20px;
    
                &:hover{
                    // margin: 20px;
                    background-color: #FF7143;
                    margin: 0 20px 0 20px;
                }
    
                h5{
                    font-size: 30px;
                    padding-top: 20px;
                }
    
                h1{
                    font-size: 80px;
                    padding-top: 20px;
                }
    
                .secondary{
                    list-style: none;
                    padding: 0;
    
                    li{
                        font-size: 24px;
                        padding-top: 38px;
                       
                    }
    
                    .limit{
                        padding-bottom: 30px !important;
                    }
                }
    
                a{
                    border-radius: 10px;
                    background-color: #fff;
                    margin-top: 20px;
                    padding: 15px 70px 15px 70px;
                    color: #5454D4;
                    text-decoration: none;
                    transition: .5s ease;
                    font-size: 20px;
    
                    &:hover{
                        background-color: #9F3919;
                        color: #fff;
                    }
                }
         }
    }
    
}
@media screen and (max-width: 767px){
    nav{
        padding: 0 !important;
        text-align: center;

        .navbar-nav{
           
                .nav-item{
                    margin: 20px;
                    font-size: 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    a{
                        color: #949494!important;
                        text-decoration: none;
                        transition: 0.2s ease;
                        -webkit-transition: 0.2s ease;
                        &:hover{
                            color: orange!important;
                            text-decoration: none;
                            border-bottom: 2px solid #9898D2;
                        }
                    }
            }
        }
    }

    nav.fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        backdrop-filter: blur(10px);
        background-color: #000000cf;
        box-shadow: 0 5px 15px #0c0c0cde;
    }

    .btns {
        background-color: #FF7143 ;
        text-decoration: none;
        padding: 10px 50px;
        outline: none !important;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        color: white !important;
        margin-top: 30px !important;
            &:hover{
                
                background-color: #D68959 !important;
                color: #fff !important;
               
            }
    }

    .aboutInfo {
        display: block;
        flex-direction: row-reverse;
        padding: 0;
        text-align: center;
        margin-top: 10rem;

            .side1{
                width: 24rem !important;
                margin: 60px 0;
            .title{
                width: 100%;
                font-size: 25px;
                padding: 2rem;
            }
            .description{
                width: 100%;
                margin: 0 0 22px;
                font-size: 16px;
                padding: 2rem;
            }
           
                
                
                .get{
                    text-decoration: none;
                    background-color: #5454D4;
                    margin-bottom: 30px !important;
                    // margin-left: 0px;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

            .side2{
               img{
                width: 14rem;
                height: 14rem;
               }
            }
    }

    .aboutInfo2{
        padding: 0;
        margin-top: 9rem;
        ul{
            display: block;
            justify-content: space-between;
            padding: 0;
            text-align: center;
          
            li{
                list-style: none;
                cursor: pointer;
                margin-top: 50px;
            }
        }
    }

    .aboutInfo-two{
        padding: 0;
        display: block;
        justify-content: space-between;
        .site1{
            width: 25rem;
            margin: 20px 0;
            text-align: center;
             
                 .title-one{
                     width: 96%;
                     font-size: 46px;
                     margin-top: 5rem;
                     
                 }
         
     
                   .read-or-hide{
                     color: #5454D4;
                     cursor: pointer;
                     margin-top: 30px;
                     font-size: 22;
                     font-weight: bold;
                   }
     
                   .text{
                     width: 82%;
                     margin: 48px 22px 60px;
                     font-size: 16px;
                     color: #696871;
                     letter-spacing: 1px;
                     line-height: 32px;
                   }
                   
                   .container{
                     padding: 0;
                   }
            }

        .site2{
           
            text-align: center;
            margin-top: 8rem;

            img{
                width: 16rem;
                height: 22rem;
            }
        }
        
    }


    .metrics{
        display: block;
        padding: 13px;
        text-align: center;
        margin-top: 8rem;
            .site-one{
                width: 93%;
                margin: 20px 12px;
                margin-top: 6rem;
                .title-two{
                    width: 100%;
                    font-size: 42px;
                }
                .description-two{
                    width: 50%;
                    margin: 15px 3px 60px;
                    font-size: 20px;
                }
    
                .read-or-hide-one{
                    color: #5454D4;
                    cursor: pointer;
                    margin-top: 30px;
                    font-size: 22;
                    font-weight: bold;
                  }
    
                  .text-one{
                    width: 100%;
                    margin: 15px 0 60px;
                    font-size: 17px;
                    color: #696871;
                    letter-spacing: 1px;
                    line-height: 32px;
                  }
                  
                  .container{
                    padding: 0;
                  }
        } 
        
        .site2{

            img{
                width: 15rem;
                height: 20rem;
            }
        }
    
    }

    .aboutInfo-sidex{

        ul{
            display: block;
            text-align: center;
            padding: 2.5rem;
            li{
                list-style: none;
                cursor: pointer;
                padding: 15px;
                margin-top: 40px;
    
                img{
                   width: 70px;
                   height: 50px;
                   transition: .5s ease;
                }
    
                &:hover img {
                    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                    transform: translate3d(0, 0, 0);
                    backface-visibility: hidden;
                    perspective: 1000px;
                }
    
                @keyframes shake {
                    10%, 90% {
                      transform: translate3d(-1px, 0, 0);
                    }
                    
                    20%, 80% {
                      transform: translate3d(2px, 0, 0);
                    }
                  
                    30%, 50%, 70% {
                      transform: translate3d(-4px, 0, 0);
                    }
                  
                    40%, 60% {
                      transform: translate3d(4px, 0, 0);
                    }
                  }
    
                h1{
                    font-size: 24px;
                    margin-top: 2rem;
                }
    
                p{
                    font-size: 16px;
                    width: 100%;
                    margin-top: 1rem;
                    opacity: 0.6;
                }
            }
        }
    }


    .futures{
        display: block;
        padding: 20px;
        text-align: center;
            h1{
                font-size: 27px;
                width: 20rem;
            }

            div{
                margin-top: 50px;
            }

            .year{
                border: none;
                outline: none;
                padding: 9px 28px;
                font-size: 16px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                transition: .5s ease;
                text-decoration: none;
                color: #000;
                background-color: #F7F7FB;
    
                &:hover{
                    background-color: #5454D4;
                    color: #fff;
                }
            }
            .month{
                border: none;
                outline: none;
                padding: 9px 28px;
                font-size: 16px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                transition: .5s ease;
                text-decoration: none;
                color: #000;
                background-color: #F7F7FB;
    
                &:hover{
                    background-color: #5454D4;
                    color: #fff;
                }
            }
    }


    .cards{
        padding: 0;
    
        .first{
            display: block;
            list-style: none;
            padding: 0;
            margin-top: 80px;
        }
        
    
         .point{
            // margin: 20px;
            border: none;
            text-align: center;
            background-color: #F8F8F8;
            padding: 2rem 3rem;
            transition: .5s ease;
            border-radius: 20px;
    
                &:hover{
                    background-color: #FF7143;
                    padding: 20px;
                }
    
                h5{
                    font-size: 16px;
                    padding-top: 20px;
                }
    
                h1{
                    font-size: 60px;
                    padding-top: 20px;
                }
    
                .secondary{
                    list-style: none;
                    padding: 0;
    
                    li{
                        font-size: 17px;
                        padding-top: 20px;
                       
                    }
    
                    .limit{
                        padding-bottom: 30px !important;
                    }
                }
    
                a{
                    border-radius: 10px;
                    background-color: #fff;
                    margin-top: 20px;
                    padding: 10px 28px 10px 28px;
                    color: #5454D4;
                    text-decoration: none;
                    transition: .5s ease;
    
                    &:hover{
                        background-color: #9F3919;
                        color: #fff;
                    }
                }
         }
    }
}
@media screen and (max-width: 500px){
    nav{
        padding: 0 !important;
        text-align: center;

        .navbar-nav{
           
                .nav-item{
                    margin: 20px;
                    font-size: 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    a{
                        color: #949494!important;
                        text-decoration: none;
                        transition: 0.2s ease;
                        -webkit-transition: 0.2s ease;
                        &:hover{
                            color: orange!important;
                            text-decoration: none;
                            border-bottom: 2px solid #9898D2;
                        }
                    }
            }
        }
    }

    nav.fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        backdrop-filter: blur(10px);
        background-color: #000000cf;
        box-shadow: 0 5px 15px #0c0c0cde;
    }

    .btns {
        background-color: #FF7143 ;
        text-decoration: none;
        padding: 10px 50px;
        outline: none !important;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        color: white !important;
        margin-top: 30px !important;
            &:hover{
                
                background-color: #D68959 !important;
                color: #fff !important;
               
            }
    }

    .aboutInfo {
        display: block;
        flex-direction: row-reverse;
        padding: 0;
        text-align: center;
        margin-top: 10rem;

            .side1{
                width: 24rem !important;
                margin: 60px 0;
            .title{
                width: 100%;
                font-size: 25px;
                padding: 2rem;
            }
            .description{
                width: 100%;
                margin: 0 0 22px;
                font-size: 16px;
                padding: 2rem;
            }
           
                
                
                .get{
                    text-decoration: none;
                    background-color: #5454D4;
                    margin-bottom: 30px !important;
                    // margin-left: 0px;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

            .side2{
               img{
                width: 14rem;
                height: 14rem;
               }
            }
    }

    .aboutInfo2{
        padding: 0;
        margin-top: 9rem;
        ul{
            display: block;
            justify-content: space-between;
            padding: 0;
            text-align: center;
          
            li{
                list-style: none;
                cursor: pointer;
                margin-top: 50px;
            }
        }
    }

    .aboutInfo-two{
        padding: 0;
        display: block;
        justify-content: space-between;
        .site1{
            width: 25rem;
            margin: 20px 0;
            text-align: center;
             
                 .title-one{
                     width: 96%;
                     font-size: 46px;
                     margin-top: 5rem;
                     
                 }
         
     
                   .read-or-hide{
                     color: #5454D4;
                     cursor: pointer;
                     margin-top: 30px;
                     font-size: 22;
                     font-weight: bold;
                   }
     
                   .text{
                     width: 82%;
                     margin: 48px 22px 60px;
                     font-size: 16px;
                     color: #696871;
                     letter-spacing: 1px;
                     line-height: 32px;
                   }
                   
                   .container{
                     padding: 0;
                   }
            }

        .site2{
           
            text-align: center;
            margin-top: 8rem;

            img{
                width: 16rem;
                height: 22rem;
            }
        }
        
    }


    .metrics{
        display: block;
        padding: 13px;
        text-align: center;
        margin-top: 8rem;
            .site-one{
                width: 93%;
                margin: 20px 12px;
                margin-top: 6rem;
                .title-two{
                    width: 100%;
                    font-size: 42px;
                }
                .description-two{
                    width: 50%;
                    margin: 15px 3px 60px;
                    font-size: 20px;
                }
    
                .read-or-hide-one{
                    color: #5454D4;
                    cursor: pointer;
                    margin-top: 30px;
                    font-size: 22;
                    font-weight: bold;
                  }
    
                  .text-one{
                    width: 100%;
                    margin: 15px 0 60px;
                    font-size: 17px;
                    color: #696871;
                    letter-spacing: 1px;
                    line-height: 32px;
                  }
                  
                  .container{
                    padding: 0;
                  }
        } 
        
        .site2{

            img{
                width: 15rem;
                height: 20rem;
            }
        }
    
    }

    .aboutInfo-sidex{

        ul{
            display: block;
            text-align: center;
            padding: 2.5rem;
            li{
                list-style: none;
                cursor: pointer;
                padding: 15px;
                margin-top: 40px;
    
                img{
                   width: 70px;
                   height: 50px;
                   transition: .5s ease;
                }
    
                &:hover img {
                    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                    transform: translate3d(0, 0, 0);
                    backface-visibility: hidden;
                    perspective: 1000px;
                }
    
                @keyframes shake {
                    10%, 90% {
                      transform: translate3d(-1px, 0, 0);
                    }
                    
                    20%, 80% {
                      transform: translate3d(2px, 0, 0);
                    }
                  
                    30%, 50%, 70% {
                      transform: translate3d(-4px, 0, 0);
                    }
                  
                    40%, 60% {
                      transform: translate3d(4px, 0, 0);
                    }
                  }
    
                h1{
                    font-size: 24px;
                    margin-top: 2rem;
                }
    
                p{
                    font-size: 16px;
                    width: 100%;
                    margin-top: 1rem;
                    opacity: 0.6;
                }
            }
        }
    }


    .futures{
        display: block;
        padding: 20px;
        text-align: center;
            h1{
                font-size: 27px;
                width: 20rem;
            }

            div{
                margin-top: 50px;
            }

            .year{
                border: none;
                outline: none;
                padding: 9px 28px;
                font-size: 16px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                transition: .5s ease;
                text-decoration: none;
                color: #000;
                background-color: #F7F7FB;
    
                &:hover{
                    background-color: #5454D4;
                    color: #fff;
                }
            }
            .month{
                border: none;
                outline: none;
                padding: 9px 28px;
                font-size: 16px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                transition: .5s ease;
                text-decoration: none;
                color: #000;
                background-color: #F7F7FB;
    
                &:hover{
                    background-color: #5454D4;
                    color: #fff;
                }
            }
    }


    .cards{
        padding: 0;
    
        .first{
            display: block;
            list-style: none;
            padding: 0;
            margin-top: 80px;
        }
        
    
         .point{
            // margin: 20px;
            border: none;
            text-align: center;
            background-color: #F8F8F8;
            padding: 2rem 3rem;
            transition: .5s ease;
            border-radius: 20px;
    
                &:hover{
                    background-color: #FF7143;
                    padding: 20px;
                }
    
                h5{
                    font-size: 16px;
                    padding-top: 20px;
                }
    
                h1{
                    font-size: 60px;
                    padding-top: 20px;
                }
    
                .secondary{
                    list-style: none;
                    padding: 0;
    
                    li{
                        font-size: 17px;
                        padding-top: 20px;
                       
                    }
    
                    .limit{
                        padding-bottom: 30px !important;
                    }
                }
    
                a{
                    border-radius: 10px;
                    background-color: #fff;
                    margin-top: 20px;
                    padding: 10px 28px 10px 28px;
                    color: #5454D4;
                    text-decoration: none;
                    transition: .5s ease;
    
                    &:hover{
                        background-color: #9F3919;
                        color: #fff;
                    }
                }
         }
    }
}
@media screen and (max-width: 370px){
    nav{
        padding: 0 !important;
        text-align: center;

        .navbar-nav{
           
                .nav-item{
                    margin: 20px;
                    font-size: 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    a{
                        color: #949494!important;
                        text-decoration: none;
                        transition: 0.2s ease;
                        -webkit-transition: 0.2s ease;
                        &:hover{
                            color: orange!important;
                            text-decoration: none;
                            border-bottom: 2px solid #9898D2;
                        }
                    }
            }
        }
    }

    nav.fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        backdrop-filter: blur(10px);
        background-color: #000000cf;
        box-shadow: 0 5px 15px #0c0c0cde;
    }

    .btns {
        background-color: #FF7143 ;
        text-decoration: none;
        padding: 10px 50px;
        outline: none !important;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        color: white !important;
        margin-top: 30px !important;
            &:hover{
                
                background-color: #D68959 !important;
                color: #fff !important;
               
            }
    }

    .aboutInfo {
        display: block;
        flex-direction: row-reverse;
        padding: 0;
        text-align: center;
        margin-top: 10rem;

            .side1{
                width: 24rem !important;
                margin: 60px 0;
            .title{
                width: 95%;
                font-size: 25px;
            }
            .description{
                width: 80%;
                margin: 30px 26px 60px;
                font-size: 16px;
            }
           
                
                
                .get{
                    text-decoration: none;
                    background-color: #5454D4;
                    margin-bottom: 30px !important;
                    margin-left: -22px;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

            .side2{
               img{
                width: 14rem;
                height: 14rem;
               }
            }
    }

    .aboutInfo2{
        padding: 0;
        margin-top: 9rem;
        ul{
            display: block;
            justify-content: space-between;
            padding: 0;
            text-align: center;
          
            li{
                list-style: none;
                cursor: pointer;
                margin-top: 50px;
            }
        }
    }

    .aboutInfo-two{
        padding: 0;
        display: block;
        justify-content: space-between;
        .site1{
            width: 25rem;
            margin: 20px 0;
            text-align: center;
             
                 .title-one{
                     width: 90%;
                     font-size: 46px;
                     margin-top: 5rem;
                     
                 }
         
     
                   .read-or-hide{
                     color: #5454D4;
                     cursor: pointer;
                     margin-top: 30px;
                     font-size: 22;
                     font-weight: bold;
                   }
     
                   .text{
                     width: 82%;
                     margin: 48px 16px 60px;
                     font-size: 16px;
                     color: #696871;
                     letter-spacing: 1px;
                     line-height: 32px;
                   }
                   
                   .container{
                     padding: 0;
                   }
            }

        .site2{
           
            text-align: center;
            margin-top: 8rem;

            img{
                width: 16rem;
                height: 22rem;
            }
        }
        
    }


    .metrics{
        display: block;
        padding: 0;
        text-align: center;
            .site-one{
                width: 93%;
                margin: 20px 12px;
                margin-top: 6rem;
                .title-two{
                    width: 100%;
                    font-size: 46px;
                }
                .description-two{
                    width: 50%;
                    margin: 15px 3px 60px;
                    font-size: 20px;
                }
    
                .read-or-hide-one{
                    color: #5454D4;
                    cursor: pointer;
                    margin-top: 30px;
                    font-size: 22;
                    font-weight: bold;
                  }
    
                  .text-one{
                    width: 100%;
                    margin: 15px 0 60px;
                    font-size: 17px;
                    color: #696871;
                    letter-spacing: 1px;
                    line-height: 32px;
                  }
                  
                  .container{
                    padding: 0;
                  }
        } 
        
        .site2{

            img{
                width: 15rem;
                height: 20rem;
            }
        }
    
    }

    .aboutInfo-sidex{

        ul{
            display: block;
            text-align: center;
            padding: 2.5rem;
            li{
                list-style: none;
                cursor: pointer;
                padding: 15px;
                margin-top: 40px;
    
                img{
                   width: 70px;
                   height: 50px;
                   transition: .5s ease;
                }
    
                &:hover img {
                    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                    transform: translate3d(0, 0, 0);
                    backface-visibility: hidden;
                    perspective: 1000px;
                }
    
                @keyframes shake {
                    10%, 90% {
                      transform: translate3d(-1px, 0, 0);
                    }
                    
                    20%, 80% {
                      transform: translate3d(2px, 0, 0);
                    }
                  
                    30%, 50%, 70% {
                      transform: translate3d(-4px, 0, 0);
                    }
                  
                    40%, 60% {
                      transform: translate3d(4px, 0, 0);
                    }
                  }
    
                h1{
                    font-size: 24px;
                    margin-top: 2rem;
                }
    
                p{
                    font-size: 16px;
                    width: 100%;
                    margin-top: 1rem;
                    opacity: 0.6;
                }
            }
        }
    }


    .futures{
        display: block;
        padding: 20px;
        text-align: center;
            h1{
                font-size: 27px;
                width: 20rem;
            }

            div{
                margin-top: 50px;
            }

            .year{
                border: none;
                outline: none;
                padding: 9px 28px;
                font-size: 16px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                transition: .5s ease;
                text-decoration: none;
                color: #000;
                background-color: #F7F7FB;
    
                &:hover{
                    background-color: #5454D4;
                    color: #fff;
                }
            }
            .month{
                border: none;
                outline: none;
                padding: 9px 28px;
                font-size: 16px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                transition: .5s ease;
                text-decoration: none;
                color: #000;
                background-color: #F7F7FB;
    
                &:hover{
                    background-color: #5454D4;
                    color: #fff;
                }
            }
    }


    .cards{
        padding: 0;
    
        .first{
            display: block;
            list-style: none;
            padding: 0;
            margin-top: 80px;
        }
        
    
         .point{
            // margin: 20px;
            border: none;
            text-align: center;
            background-color: #F8F8F8;
            padding: 2rem 3rem;
            transition: .5s ease;
            border-radius: 20px;
    
                &:hover{
                    background-color: #FF7143;
                    padding: 20px;
                }
    
                h5{
                    font-size: 16px;
                    padding-top: 20px;
                }
    
                h1{
                    font-size: 60px;
                    padding-top: 20px;
                }
    
                .secondary{
                    list-style: none;
                    padding: 0;
    
                    li{
                        font-size: 17px;
                        padding-top: 20px;
                       
                    }
    
                    .limit{
                        padding-bottom: 30px !important;
                    }
                }
    
                a{
                    border-radius: 10px;
                    background-color: #fff;
                    margin-top: 20px;
                    padding: 10px 28px 10px 28px;
                    color: #5454D4;
                    text-decoration: none;
                    transition: .5s ease;
    
                    &:hover{
                        background-color: #9F3919;
                        color: #fff;
                    }
                }
         }
    }
}
@media (min-width: 320px) and (max-width: 330px){
    nav{
        padding: 0 !important;
        text-align: center;

        .navbar-nav{
           
                .nav-item{
                    margin: 20px;
                    font-size: 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    a{
                        color: #949494!important;
                        text-decoration: none;
                        transition: 0.2s ease;
                        -webkit-transition: 0.2s ease;
                        &:hover{
                            color: orange!important;
                            text-decoration: none;
                            border-bottom: 2px solid #9898D2;
                        }
                    }
            }
        }
    }

    nav.fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        backdrop-filter: blur(10px);
        background-color: #000000cf;
        box-shadow: 0 5px 15px #0c0c0cde;
    }

    .btns {
        background-color: #FF7143 ;
        text-decoration: none;
        padding: 10px 50px;
        outline: none !important;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        color: white !important;
        margin-top: 30px !important;
            &:hover{
                
                background-color: #D68959 !important;
                color: #fff !important;
               
            }
    }

    .aboutInfo {
        display: block;
        flex-direction: row-reverse;
        padding: 0;
        text-align: center;
        margin-top: 10rem;

            .side1{
                width: 24rem !important;
                margin: 60px 0;
            .title{
                width: 80%;
                font-size: 25px;
            }
            .description{
                width: 80%;
                margin: 15px 3px 60px;
                font-size: 16px;
            }
           
                
                
                .get{
                    text-decoration: none;
                    background-color: #5454D4;
                    margin-bottom: 30px !important;
                    margin-left: -62px;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

            .side2{
               img{
                width: 14rem;
                height: 14rem;
               }
            }
    }

    .aboutInfo2{
        padding: 0;
        margin-top: 9rem;
        ul{
            display: block;
            justify-content: space-between;
            padding: 0;
            text-align: center;
          
            li{
                list-style: none;
                cursor: pointer;
                margin-top: 50px;
            }
        }
    }

    .aboutInfo-two{
        padding: 0;
        display: block;
        justify-content: space-between;
        .site1{
            width: 25rem;
            margin: 20px 0;
            text-align: center;
             
                 .title-one{
                     width: 80%;
                     font-size: 50px;
                     margin-top: 5rem;
                     
                 }
         
     
                   .read-or-hide{
                     color: #5454D4;
                     cursor: pointer;
                     margin-top: 30px;
                     font-size: 22;
                     font-weight: bold;
                   }
     
                   .text{
                     width: 72%;
                     margin: 35px 16px 60px;
                     font-size: 16px;
                     color: #696871;
                     letter-spacing: 1px;
                     line-height: 32px;
                   }
                   
                   .container{
                     padding: 0;
                   }
            }

        .site2{
           
            text-align: center;
            margin-top: 8rem;

            img{
                width: 17rem;
                height: 22rem;
            }
        }
        
    }


    .metrics{
        display: block;
        padding: 0;
        text-align: center;
            .site-one{
                width: 93%;
                margin: 20px 12px;
                margin-top: 6rem;
                .title-two{
                    width: 100%;
                    font-size: 46px;
                }
                .description-two{
                    width: 50%;
                    margin: 15px 3px 60px;
                    font-size: 20px;
                }
    
                .read-or-hide-one{
                    color: #5454D4;
                    cursor: pointer;
                    margin-top: 30px;
                    font-size: 22;
                    font-weight: bold;
                  }
    
                  .text-one{
                    width: 100%;
                    margin: 15px 0 60px;
                    font-size: 17px;
                    color: #696871;
                    letter-spacing: 1px;
                    line-height: 32px;
                  }
                  
                  .container{
                    padding: 0;
                  }
        } 
        
        .site2{

            img{
                width: 15rem;
                height: 20rem;
            }
        }
    
    }

    .aboutInfo-sidex{

        ul{
            display: block;
            text-align: center;
            padding: 2.5rem;
            li{
                list-style: none;
                cursor: pointer;
                padding: 15px;
                margin-top: 30px;
    
                img{
                   width: 70px;
                   height: 50px;
                   transition: .5s ease;
                }
    
                &:hover img {
                    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                    transform: translate3d(0, 0, 0);
                    backface-visibility: hidden;
                    perspective: 1000px;
                }
    
                @keyframes shake {
                    10%, 90% {
                      transform: translate3d(-1px, 0, 0);
                    }
                    
                    20%, 80% {
                      transform: translate3d(2px, 0, 0);
                    }
                  
                    30%, 50%, 70% {
                      transform: translate3d(-4px, 0, 0);
                    }
                  
                    40%, 60% {
                      transform: translate3d(4px, 0, 0);
                    }
                  }
    
                h1{
                    font-size: 24px;
                    margin-top: 2rem;
                }
    
                p{
                    font-size: 16px;
                    width: 100%;
                    margin-top: 1rem;
                    opacity: 0.6;
                }
            }
        }
    }


    .futures{
        display: block;
        padding: 20px;
        text-align: center;
            h1{
                font-size: 27px;
                width: 17.5rem;
            }

            div{
                margin-top: 50px;
            }

            .year{
                border: none;
                outline: none;
                padding: 9px 28px;
                font-size: 16px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                transition: .5s ease;
                text-decoration: none;
                color: #000;
                background-color: #F7F7FB;
    
                &:hover{
                    background-color: #5454D4;
                    color: #fff;
                }
            }
            .month{
                border: none;
                outline: none;
                padding: 9px 28px;
                font-size: 16px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                transition: .5s ease;
                text-decoration: none;
                color: #000;
                background-color: #F7F7FB;
    
                &:hover{
                    background-color: #5454D4;
                    color: #fff;
                }
            }
    }


    .cards{
        padding: 0;
    
        .first{
            display: block;
            list-style: none;
            padding: 0;
            margin-top: 80px;
        }
        
    
         .point{
            // margin: 20px;
            border: none;
            text-align: center;
            background-color: #F8F8F8;
            padding: 2rem 3rem;
            transition: .5s ease;
            border-radius: 20px;
    
                &:hover{
                    background-color: #FF7143;
                    padding: 20px;
                }
    
                h5{
                    font-size: 16px;
                    padding-top: 20px;
                }
    
                h1{
                    font-size: 60px;
                    padding-top: 20px;
                }
    
                .secondary{
                    list-style: none;
                    padding: 0;
    
                    li{
                        font-size: 17px;
                        padding-top: 20px;
                       
                    }
    
                    .limit{
                        padding-bottom: 30px !important;
                    }
                }
    
                a{
                    border-radius: 10px;
                    background-color: #fff;
                    margin-top: 20px;
                    padding: 10px 28px 10px 28px;
                    color: #5454D4;
                    text-decoration: none;
                    transition: .5s ease;
    
                    &:hover{
                        background-color: #9F3919;
                        color: #fff;
                    }
                }
         }
    }

}